{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : 'Twoje imię'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.gender) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-6">
            <button type="submit" data-type="next" class="btn btn-default msf-nav-button">Next <i class="fa fa-chevron-right"></i></button>
        </div>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}